header
{
    background-color: #FF7575;
}



#id_footer {
    /* 設定footer的高度 */
    height: 5%;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}

.shadow
{
    box-shadow: 10px 10px 6px #444; 
}
td{
    border:2px solid rgb(105, 105, 105);
}
.wid{
    width:150px;
}
.pp{
    border:2px solid #ddd;
    padding:1px;
    border-radius:10px;
    font-size:15px;
    color:white;
    text-align: center;
    background-color:#666666;
}
